*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

.bg{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;

    background: #000;

    padding: 20px;
}

.content{
    width: 98%;
    height: 2000px;
    margin: 0 auto;
    /*position:absolute;*/
    /*top: 0;*/
    /*left: 1%;*/
    /*z-index: 1;*/
    /*background: #fff;*/
}

.row{
    width: 100%;
}

.sector {
    height: 267px;
    width: calc(100% / 14);
    /*width: 106px;*/
    float: left;
    position: relative;
    /*margin-right: 8px;*/
}


.sector .corner{
    width: 15px;
    height: 15px;
    position: absolute;

    transform-origin: center;
}

.sector .corner:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(-7px, -7px);
}

.sector .corner:nth-child(2) {
    bottom: 0;
    left: 0;
    transform: translate(-7px, 7px);
}

.sector .corner:nth-child(6) {
    top: 0;
    right: 0;
    transform: translate(7px, -7px);
}

.sector .corner:nth-child(7) {
    bottom: 0;
    right: 0;
    transform: translate(7px, 7px);
}

.sector .line:nth-child(3){
    width: 1px;
    height: 241px;

    position: absolute;
    top: 50%;
    left:0;
    bottom: 0;

    transform: translate(0, -50%);

    border-right: 1px solid #fff;
}

.sector .line:nth-child(4){
    width: calc(100% - 24px);
    height: 1px;

    position: absolute;
    top: 0;
    left:0;
    right: 0;
    margin: 0 auto;

    /*padding: 0px 12px;*/

    border-bottom: 1px solid #fff;
}

.sector .line:nth-child(5){
    width: calc(100% - 24px);
    height: 1px;

    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0 auto;

    border-bottom: 1px solid #fff;
}



.sector .line:nth-child(8){
    width: 1px;
    height: 241px;

    position: absolute;
    top: 50%;
    right:0;
    bottom: 0;

    transform: translate(0, -50%);

    border-right: 1px solid #fff;
}